# temporary backups of text files (KDE)
*~
*.o
*.lo
Makefile
*/Makefile
*/Makefile.in
Makefile.in
autom4te*
autom4te*/*
extras/*
*.libs
*.Plo
*.Po
*.dll
*.dylib
*.a
*.la
*.lai
*.so
*.so.*
*~
*.exe
compile
config.*
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
aclocal.m4
# ignore under package, prereq and src directory
*mingw*/*
src/*
prereq/*